/* body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
} */

a {
  text-decoration: none;
}


.map {
  height: 400px;
}

/* SNAP */

.snap-image {
  /* width: 100%; */
}



